main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5em 2fr 1fr;

    grid-template-areas: "head head head head"
                         "petscreen petscreen petscreen petscreen"
                         "pethealth pethunger pettiredness pethappiness";
    
    height: 100vh;
    width: 100vw;
}

* {
    margin: 0;
    padding:0;
    text-align: center;
}

main>header {
    grid-area: head;
    background-color: lightblue;
    text-align: center;
}

.petscreen {
    grid-area: petscreen;
    background-color: beige;
    margin: auto;
}

.health {
    grid-area: pethealth;
    background-color: rgb(175, 40, 40);
}

.hunger {
    grid-area: pethunger;
    background-color: orange;
}

.tiredness {
    grid-area: pettiredness;
    background-color: yellow;
}

.happiness {
    grid-area: pethappiness;
    background-color: pink;
}
