main {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    grid-template-areas:
                         "petscreen petscreen petscreen petscreen petscreen health" 
                         "petscreen petscreen petscreen petscreen petscreen hunger" 
                         "petscreen petscreen petscreen petscreen petscreen happiness"  
                         "petscreen petscreen petscreen petscreen petscreen cleanliness"  
                         "pet play feed bath sleep tiredness";
    
    height: 100vh;
    width: 100vw;
}

* {
    margin: 0;
    padding:0;
    text-align: center;
}

.petscreen {
    grid-area: petscreen;
    margin: auto;
}

.health {
    grid-area: health;
    border: 0.5em solid;
}

.hunger {
    grid-area: hunger;
    border: 0.5em solid;
    
}

.happiness {
    grid-area: happiness;
    border: 0.5em solid;
}

.cleanliness {
    grid-area: cleanliness;
    border: 0.5em solid;
}

.tiredness {
    grid-area: tiredness;
    border: 0.5em solid;
}

.pet {
    grid-area: pet;
    border: 0.5em solid;
}

.play {
    grid-area: play;
    border: 0.5em solid;
}

.feed {
    grid-area: feed;
    border: 0.5em solid;
}

.bath {
    grid-area: bath;
    border: 0.5em solid;
}

.sleep {
    grid-area: sleep;
    border: 0.5em solid;
}

meter {
    height:1.5em;
    width:10em;
}